body{
  overflow: hidden;
}
.App{
  background-color: #000;
  color: #fff;
  display: flex;
  height: 100vh;
}
.objWrap{
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
}
.itemWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* swiper pagination */
.swiper-pagination-bullet{
  width: 4px !important;
  height: 4px !important;
}
.swiper-pagination-bullet{
  background-color: #fff !important;
}
.swiper-pagination-bullet-active{
  background-color: #f33d3a !important;
}

@media (orientation: portrait) {
	/* 세로 모드일 때 적용할 CSS */
  .App{
    flex-direction: column;
  }
  .objWrap{
    width: 100%;
  }
}

@media (orientation: landscape) {
	/* 가로 모드일 때 적용할 CSS */
  .App{

  }
  .objWrap{
    
  }
}